div.todo {
    border: 4px solid black;
    text-align: center;
}

#div1{
    margin: 10px 30%;
    color: #ff2bb1;
    font-family: "Blackadder ITC";
    font-size: 40px;


}
#div3{
    margin: 10px 40%;
    padding: 10px 15px;
   }
#div4{

}

#negro{
    background: black;
    border-radius: 10px;
}
#nom{
    text-align: left;
    font-family: Tahoma;
    font-size: 20px;
    color: #24fe17;
}
#descrip{
    text-align: center;
    font-family: "Bodoni MT";
    font-size: 30px;
    color: deeppink;
}

#pelota{
    font-size: 20px;
    color: lightblue;
    font-family: "Reem Kufi";
}
body{
    background-image: url("fotosproyecto/retrowave-lineas-montanas_3840x2160_xtrafondos.com.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

