div.todo {
    border: 4px solid black;
    text-align: center;
}

#div1{
    margin: 2px 30%;
    color: #ff6ded;
    font-family: "Blackadder ITC", sans-serif ;
    font-size: 20px;
}
#PUNTU{
    border:4px solid black;
    position:absolute;
    text-align: left;
    left:70%;
    padding: 3px 50px;
}
#div2{
    position:absolute;
    left:85%;
    padding: 5px 30px;

}


#tit{
    color:gold;
}

#div3{
    color: aquamarine;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border: 4px solid black;
    margin: 5px 35%;
    padding: 10px 15px;

}

#div4{
    color: #27fee5;
    margin: 10px 40%;
    padding: 10px 15px;
    position: static;
    bottom: 1%;
}

#negro{
    background: black;
    border-radius: 10px;
}
#rank{
    font-family: Algerian, sans-serif;
    text-align: center;
    color: #ffc771;
}
#list{
    font-size: 15px;
    color:  white;
}
#comoj{
    color: #000000;
}
#botonatras{
    position:static;
    top: 100%;
    right: 100%;
    bottom:85%;
}
p{
    margin: 5px 5px;
}
#columna{
    top: 15%;
    position: absolute;
}
#nom{
    text-align: left;
    font-family: Algerian, sans-serif;
    font-size: 15px;
    color: #27fee5;
}

button {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}
#icono{
    width:  50px ;
    height: 50px ;
}
#icono2{
    width:  50px ;
    height: 50px ;
}
#icono3{
    width:  50px ;
    height: 50px ;
}
#icono4{
    width:  50px ;
    height: 50px ;
}
button:hover {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 10px 10px #000;
    background-color: #D0D3D4;
    cursor: pointer;
}
#backjug{
    background-image: url("fotosproyecto/como jugar pantalla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#body{
    background-image: url("fotosproyecto/retrowave-lineas-montanas_3840x2160_xtrafondos.com.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#backplay{
    background-image: url("fotosproyecto/retro mountain palms.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div#canvas {
    margin-top: 0 ;
    margin-left: 33.8%;
}

#lineacanvas{
    width: 100%;
    height: 3px;
    background: #27fee5 ;
    text-align: center;
}
canvas{ margin: 80px 0 10px 0; display: flex}